/* popup.css */
body {
    font-family: Arial, sans-serif;
    background-color: #233142;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: #e3e3e3;
    margin: 0px;
}

pre {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

form {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #f95959;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

.hidden {
    display: none;
}

#header {
    text-align: center;
}

#input {
    text-align: center;
}

#output {
    height: 100%;
    overflow: auto;
}

.reviews-accordion {
    background-color: #455d7a;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    display: none;
}

.tab-content-container {
    display: flex;
    height: 100%;
}
.tab {
    float: left;
    background-color: #233142;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tablinks {
    display: block;
    background-color: #455d7a;
    height: 33.33%;
    width: 100%;
    border: none;
    border-radius: 0px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #233142;
}

.tablinks.active {
    background-color: #233142;
}

.active,
.reviews-accordion:hover {
    background-color: #455d7a;
}

.tabContent {
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: auto;
    display: none;
    overflow: scroll;
}

.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #f95959;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;

    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ratings-container {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.progress-container {
    width: 70%;
}

.average-rating {
    width: 30%;
    text-align: center;
}
.ratings {
    height: auto;
    background-color: #455d7a;
    border-radius: 10px;
    margin-bottom: 10px;
}

.stars {
    background-color: #f95959;
    height: 10px;
    border-radius: 10px;
}
