@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-Thin.otf") format("opentype");
    font-weight: 200; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-Light.otf") format("opentype");
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-Regular.otf") format("opentype");
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-Medium.otf") format("opentype");
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-SemiBold.otf") format("opentype");
    font-weight: 600; /* SemiBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MarketSans";
    src: url("fonts/MarketSans-Bold.otf") format("opentype");
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edf2f4;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: #2b2d42;
    margin: 0px;
    border-radius: 10px;
    font-family: "MarketSans";
}

pre {
    background-color: #edf2f4;
    border-radius: 5px;
    padding: 10px;
}

.front-page {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.response-box {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 75px 275px 50px;
    align-items: center;
}

.business-response {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 75px 275px 50px;
    align-items: center;
}

.response-text {
    padding-left: 20px;
}

form {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #f95959;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

.hidden {
    display: none;
}

#header {
    text-align: center;

    img {
        width: 30%;
    }
}

#input {
    text-align: center;
}

#output {
    height: 100%;
    overflow: auto;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-accordion {
    background-color: #8d99ae;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    display: none;
    margin-bottom: 10px;
}

.tab-content-container {
    display: flex;
    height: 100%;
}
.tab {
    float: left;
    background-color: #8d99ae;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tablinks {
    display: block;
    background-color: #2b2d42;
    height: 33.33%;
    width: 100%;
    border: none;
    border-radius: 0px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #edf2f4;
    color: #2b2d42;
}

.tablinks.active {
    background-color: #edf2f4;
    color: #2b2d42;
}

.reviews-accordion:hover {
    background-color: #edf2f4;
    color: #2b2d42;
}

.reviews-accordion:active {
    background-color: #59dc08;
    color: #2b2d42;
}

.tabContent {
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    height: auto;
    display: none;
    margin: 40px;
}

.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ef233c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;

    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ratings-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 10px;
}

.progress-container {
    width: 70%;
}

.average-rating {
    width: 30%;
    text-align: center;
}
.ratings {
    height: auto;
    background-color: #2b2d42;
    border-radius: 10px;
    margin-bottom: 10px;
}

.stars {
    height: 10px;
    border-radius: 10px;
}
